@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Admin.Models.State.FileManagerViewModel
<h1>File Manager</h1>

<h2>Directories</h2>
<ul>
    @foreach (var directory in Model.Directories)
    {
        <li>@directory</li>
    }
</ul>

<h2>Files</h2>
<ul>
    @foreach (var file in Model.Files)
    {
        <li>@file</li>
    }
</ul>
