@model Admin.Models.NhanVien

@{
    ViewData["Title"] = "Create";
}

<h1>Thêm tài khoản nhân viên</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdNv" class="control-label">Mã Nhân Viên</label>
                <input asp-for="IdNv" class="form-control" />
                <span asp-validation-for="IdNv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoTenNv" class="control-label">Họ và Tên</label>
                <input asp-for="HoTenNv" class="form-control" />
                <span asp-validation-for="HoTenNv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sdt" class="control-label">Số Điện Thoại</label>
                <input asp-for="Sdt" class="form-control" />
                <span asp-validation-for="Sdt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaChi" class="control-label">Địa Chỉ</label>
                <input asp-for="DiaChi" class="form-control" />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MatKhau" class="control-label">Mật Khẩu</label>
                <input asp-for="MatKhau" class="form-control" />
                <span asp-validation-for="MatKhau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdChucVu" class="control-label">Chức Vụ</label>
                <select asp-for="IdChucVu" class="form-control" asp-items="ViewBag.IdChucVu"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdPnh" class="control-label">Phiếu Nhập Hàng</label>
                <input asp-for="IdPnh" readonly class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="IdPxh" class="control-label">Phiếu Xuất Hàng</label>
                <input asp-for="IdPxh" readonly class="form-control" />
            <div class="form-group">
                <label asp-for="IdBaoCao" class="control-label">Báo Cáo</label>
                    <input asp-for="IdBaoCao" readonly class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="IdThongBao" class="control-label">Thông Báo</label>
                    <input asp-for="IdThongBao" readonly class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Tạo Mới" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div>
        <a asp-action="Index">Quay lại danh sách</a>
    </div>
</div>




